@CHARSET "UTF-8";

body {
	font-family: 微软雅黑;
	padding:0px;
	margin: 0px;
	text-shadow: 1px 1px 4px #999;
	color: #666;
}

.clear{
	clear:both;
}
.right{
	float:right;
}
.left{
	float: left;
}

.table_list{
	font-family: 微软雅黑;
	width: 100%;
	text-align: left;
	background:
    -moz-repeating-linear-gradient(
        top,
        #fcf59b,
        #fcf59b 29px,
        #81cbbc 30px
    );

	background:
	    -webkit-gradient(
	        linear,
	        left top, left bottom,
	        from(#81cbbc),
	        color-stop(2%, #fcf59b)
	    );
	
	background:
	    repeating-linear-gradient(
	        top,
	        #fcf59b,
	        #fcf59b 29px,
	        #81cbbc 30px
	    );
	-webkit-background-size: 100% 30px;
}
.table_list tr{
	height: 28px;	
}
.table_list th{
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
}
fieldset{
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-border-radius:8px;
	border: 1px solid rgba(255, 100, 0, .8);
	
    
    background-image: -moz-linear-gradient(center top , #F7F7F7, #E5E5E5);
    background:
	    -webkit-gradient(
	        linear,
	        left top, right bottom,
	        from(#F7F7F7),
	        color-stop(3%, #E5E5E5)
	    );
	background:
	    repeating-linear-gradient(
	        center top , #F7F7F7, #E5E5E5
	    );
}
legend{
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	border: 1px solid rgba(255, 255, 255, .8);
	text-shadow: 1px 1px 3px #999;
	color:#aaa;
	font-size:13px;
	padding:1px 4px 1px 4px;
	background-image: -moz-linear-gradient(center top , #F7F7F7, #E5E5E5);
    background:
	    -webkit-gradient(
	        linear,
	        left top, right bottom,
	        from(#F7F7F7),
	        color-stop(3%, #E5E5E5)
	    );
	background:
	    repeating-linear-gradient(
	        center top , #F7F7F7, #E5E5E5
	    );
}
form{
	text-shadow: #666 1px 2px 2px;
	color:#0E9398;
	font-size:13px;
}

input{
	border: 1px solid #aaa;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-shadow: #aaa 1px 1px 1px;
}